{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Dashboard</title>
    <link rel="stylesheet"  href="{% static 'planetapp/style.css' %}">
</head>
<body>
    <h1>Order Dashboard (Admin Panel)</h1>
    <form method="POST" action="{% url 'clear_orders' %}" onsubmit="return confirm('Are you sure you want to clear all orders?');">
        {% csrf_token %}
        <button type="submit" style="background-color: red; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
            Clear All Orders
        </button>
    </form>
    {% if messages %}
<div>
    {% for message in messages %}
    <p style="color: green;">{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer</th>
                <th>Phone</th>
                <th>Total Price</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.user.username }}</td>
                <td>{{ order.phone_number }}</td>
                <td>₦{{ order.total_price }}</td>
                <td>{{ order.created_at|date:"d M Y, H:i" }}</td>
                <td>
                    <a href="{% url 'order_detail' order.id %}">View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>
