{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>7 Planets - Home</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/f9f6acc074.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"   href="{% static 'planetapp/home.css' %}"> 
</head>
<body>
    <div class="header">
        <nav > 
        
            <ul class = "nav-links" id="nav-links">
                <li><a href="/home" class="active">Home</a></li>
                <li><a href="/product/">Products</a></li>
                <li><a href="/register/">Register</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
               
                <i class="fas fa-times" onclick="closemenu()"></i>

            </ul>
            <i class="fas fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="container">
            <div class="slideshow">
                <div class="slides">
                    <img src="{% static 'planetapp/image/IMG-20250114-WA0007.jpg' %}" alt="Fashion Image 1">
                    <video src="{% static 'planetapp/video/VID-20250114-WA0081.mp4' %}" autoplay muted loop></video>
                    <img src="{% static 'planetapp/image/IMG-20250114-WA0079.jpg' %}" alt="Fashion Image 2">
                    <img src="{% static 'planetapp/image/IMG-20250114-WA0008.jpg' %}" alt="Fashion Image 1">
                    <video src="{% static 'planetapp/video/VID-20250114-WA0082.mp4' %}" autoplay muted loop></video>
                    <img src="{% static 'planetapp/image/IMG-20250106-WA0001.jpg' %}" alt="Fashion Image 4">
                </div>
            </div>
            <div class="text-section">
                <img src="{% static 'planetapp/image/IMG-20250106-WA0001-removebg-preview.png' %}" alt="Fashion Image 1" class="logo">

                <h1>Discover The Best Of 7Planets</h1>
                <p>Explore the latest trends and timeless styles from 7Planets clothing brands. Our collection brings together quality, comfort, and elegance for every occasion.</p>
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; 2023 7 Planets. All rights reserved.</p>
    </footer>
</body>

<script>

    var sidemenu = document.getElementById("nav-links");

     function openmenu(){
          sidemenu.style.right = "0";
     }
     function closemenu(){
         sidemenu.style.right = "-200px";
     }
 </script>

</html>

